body{
	text-align: center;
}
.board{
	/*height: 150px*/
	background-color: yellow;
	display: inline-block;
	border: 5px solid yellow;
}

.col{
	height: 50px;
	width: 50px;
	display: inline-block;
	background-color: white;
	border-radius: 70%;
	margin: 4px;
}
.col:hover {
	background-color: rgba(255, 255, 255, 0.8);
}












/*js 
	var move = document.getElementById('row' + i + 'col' + j).classList.contains(turnPlayer);
	var moveMinus1 = rowNum -= 1; 
	var moveAdd1= rowNum += 1;
	var moveMinus2= rowNum -= 2;
	var moveAdd2= 


	*/