body{
	text-align: center;
	font-family: 'Bungee', cursive;
	display: inline-block;
	justify-content: center;
	background-color: rgba(255,255,0,0.1);
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;
    margin-top: 50px;
}
.header	{

}
.container2{
	display: inline-block;

}
#rules{
	display: inline-block;
}
.rules{
	font-size: 24px;
}
#draw,
#winner{
	display: none;
	position: fixed;
	font-size: 100px;
	opacity: 0.5;
	z-index: 99;
	color: blue;
}

.board{
	height: 520px;
	margin-top: : 100px;
	width: 600px ;
	background-color: yellow;
	display: inline-block;
	border: 5px solid rgba(0,0,128, 0.2);
	z-index: -1;
}
header{
	width: 800px;
	display: inline-block;
	font-size: 64px;
	background-color: white;
	border: 1px solid black;
	color: teal;
}
.col{
	height: 70px;
	width: 70px;
	display: inline-block;
	background-color: white;
	border-radius: 70%;
	margin: 4px;
}
.col:hover {
	background-color: rgba(255, 255, 255, 0.8);
}