body{
	text-align: center;
}
.board{
	/*height: 150px*/
	background-color: yellow;
	display: inline-block;
	border: 5px solid yellow;
}

.col{
	height: 50px;
	width: 50px;
	display: inline-block;
	background-color: white;
	border-radius: 70%;
	margin: 4px;
}
.col:hover {
	background-color: rgba(255, 255, 255, 0.8);

}